<%= form_for @post do |f| %>

  <div class="">
    <%= f.file_field :image, class: "form-control"%>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="">
    <%= f.submit "Compartilhar", class: "btn btn-primary"%>
  </div>
<% end %>
